$torch-red-50: #fff0f2;
$torch-red-100: #ffdde1;
$torch-red-200: #ffc0c7;
$torch-red-300: #ff94a0;
$torch-red-400: #ff576b;
$torch-red-500: #ff233d;
$torch-red-600: #ff0f2b;
$torch-red-700: #d70019;
$torch-red-800: #b10317;
$torch-red-900: #920a1a;

$flamenco-50: #fff8ed;
$flamenco-100: #ffeed4;
$flamenco-200: #ffdaa8;
$flamenco-300: #ffbf70;
$flamenco-400: #ff9737;
$flamenco-500: #ff7508;
$flamenco-600: #f05d06;
$flamenco-700: #c74507;
$flamenco-800: #9e370e;
$flamenco-900: #7f300f;

$supernova-50: #fefbe8;
$supernova-100: #fff8c2;
$supernova-200: #ffef87;
$supernova-300: #ffde43;
$supernova-400: #ffc707;
$supernova-500: #efb003;
$supernova-600: #ce8700;
$supernova-700: #a45f04;
$supernova-800: #884a0b;
$supernova-900: #733d10;

$paris-daisy-50: #fcfee8;
$paris-daisy-100: #f8fec3;
$paris-daisy-200: #f5fe74;
$paris-daisy-300: #f8fd47;
$paris-daisy-400: #faf715;
$paris-daisy-500: #eadd08;
$paris-daisy-600: #caaf04;
$paris-daisy-700: #a17f07;
$paris-daisy-800: #85630e;
$paris-daisy-900: #715112;

$snow-flurry-50: #f3ffe6;
$snow-flurry-100: #e2ffc8;
$snow-flurry-200: #c6ff97;
$snow-flurry-300: #a0fb5b;
$snow-flurry-400: #7ef12a;
$snow-flurry-500: #5dd70b;
$snow-flurry-600: #45ac04;
$snow-flurry-700: #358308;
$snow-flurry-800: #2e670d;
$snow-flurry-900: #285710;

$cod-gray-50: #f7f7f7;
$cod-gray-100: #e3e3e3;
$cod-gray-200: #c8c8c8;
$cod-gray-300: #a4a4a4;
$cod-gray-400: #818181;
$cod-gray-500: #666666;
$cod-gray-600: #515151;
$cod-gray-700: #434343;
$cod-gray-800: #383838;
$cod-gray-900: #1a1a1a;


