
$base-font-weight: 400;
$base-line-height: 1.75;
$base-font-size: 100%;

$paragraph-font-size: 1rem;

$headings-margin-bottom: 1.38rem;
$headings-line-height: 1.3;

$h1-font-size: 4.209rem;
$h2-font-size: 3.157rem;
$h3-font-size: 2.369rem;
$h4-font-size: 1.777rem;
$h5-font-size: 1.333rem;

$small-font-size: 0.75rem;
