.form {

  &__name-row {
    display: flex;
  }

  &__input-name {
    width: 80%;
  }

  &__input-visible-wrapper {
    width: 20%;
    text-align: center;
    padding-top: 1rem;
  }

  &__save-row {
    margin: 1rem;
    display: flex;
    justify-content: end;
  }

}
