<h1 class="heading2">{{ isNewPost ? 'New Post' : 'Edit Post'}}</h1>
<form class="form">
  <div class="form__name-row">
    <mat-form-field class="form__input-name" appearance="fill">
      <mat-label>Post title</mat-label>
      <input matInput [formControl]="postName">
    </mat-form-field>
    <div class="form__input-visible-wrapper">
      <mat-slide-toggle [formControl]="postPublished">Visible</mat-slide-toggle>
    </div>
  </div>
  <ckeditor [data]="postModel.postContent"></ckeditor>

</form>
